.expenseItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 12px;
    background-color: #4b4b4b;
}




.expenseItem-Details{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex:1;
    margin: 0 1rem;
    align-items: center;
    justify-content: space-between;
    
}

.expenseItem-Details__Title{
    color: #3a3a3a;
    font-size: 24px;
    flex: 1;
    margin: 0 1rem;
    color: aliceblue;
}

.expenseItem-Details__Amount{
    font-size: 24px;
    font-weight: bold;
    color: aliceblue;
    background-color: #40005d;
    border: 1px solid white;
    padding:  0 0.5rem;
    border-radius: 12px;
    margin-left: auto;
}